extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header-menu-registration
block content
	.content-section.content-section--padding
		.content-section__inner
			.section-title._no-b-indent
				| Подключить личный кабинет

			.section-subtitle
				| Укажите свои данные

			form(method='' action='').form-cabinet-connection-data.js-form-validate
				.form-row
					label(for='cabinet-connection-data-last-name').form-row__title
						| Фамилия:

					input(type='text'
								placeholder='Введите фамилию'
								required,
								id='cabinet-connection-data-last-name').form-control

				.form-row
					label(for='cabinet-connection-data-first-name').form-row__title
						| Имя:

					input(type='text'
								placeholder='Введите имя'
								required,
								id='cabinet-connection-data-first-name').form-control

				.form-row
					label(for='cabinet-connection-data-second-name').form-row__title
						| Отчество:

					input(type='text'
								placeholder='Введите отчество'
								required,
								id='cabinet-connection-data-second-name').form-control

				.form-row
						label(for='cabinet-connection-data-phone').form-row__title
							| Номер мобильного телефона:

						input(type='text'
						required,
						pattern='.{18,}'
						data-parsley-error-message='Введите значаение в формате +7 (XXX) XXX-XX-XX'
						data-mask='+7 (000) 000-00-00'
						placeholder='+7 (937) 542-54-19'
						id='cabinet-connection-data-phone').form-control

						p.form-item__note.text-center В формате + Х ХХХ ХХХХ-ХХХ-ХХ

				.form-row
					input(type='submit' value='Отправить').form-submit

	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end