
form(method='' action='').form-cabinet-connection-password.js-form-validate

	.form-row
		label(for='ccd-email').form-row__title
			| Логин (ваш email):

		.form-item
			input(type='text'
			required,
			placeholder='Введите ваш email'
			id='ccd-email').form-control

	.form-row
		label(for='ccd-password').form-row__title
			| Пароль:

		input(type='password'
		required,
		placeholder='•••••'
		data-validate-strength
		data-parsley-required-message='Введите пароль'
		name='ccd-password'
		id='ccd-password').form-control

	.form-row
		label(for='ccd-password').form-row__title
			| Введите пароль еще раз:

		input(type='password'
		required,
		data-parsley-equalto='#ccd-password'
		data-parsley-required-message='Подтвердите пароль'
		placeholder='Повторите пароль'
		name='ccd-password-check'
		id='ccd-password-check').form-control

	.form-row.password-row
		.form-grid
			.cell.style-nowrap
				p Сложность пароля:
			.cell
				div#password-strength-scale.password-strength-scale
					.password-strength-scale__degree
					.password-strength-scale__degree
					.password-strength-scale__degree
					.password-strength-scale__degree
					.password-strength-scale__degree



	.form-row.form-row--password-note
		.form-note
			| Пароль должен содержать не менее 8 символов.
			span.line-break
				| Используйте хотя бы одну цифру и прописную букву.

	.form-row
		label(for='cabinet-connection-data-phone').form-row__title
			| Номер мобильного телефона:

		input(type='text'
		required,
		pattern='.{18,}'
		data-parsley-error-message='Введите значаение в формате +7 (XXX) XXX-XX-XX'
		data-mask='+7 (000) 000-00-00'
		placeholder='+7 (937) 542-54-19'
		id='cabinet-connection-data-phone').form-control

		p.form-item__note.text-center В формате + Х ХХХ ХХХХ-ХХХ-ХХ

	.form-row
		input(type='submit' value='Сохранить').form-submit